In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
d=pd.read_csv(r"C:\Users\Sahil Kumar\Desktop\Data Science\Semester-2\Machine Learning\Machine Learning Data\Kaggle\fitness_class_2212.csv")

# Overview

In [4]:
d.shape

(1500, 8)

In [5]:
d.dtypes

booking_id            int64
months_as_member      int64
weight              float64
days_before          object
day_of_week          object
time                 object
category             object
attended              int64
dtype: object

In [6]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   booking_id        1500 non-null   int64
 1   months_as_member  1500 non-null   int64
 2   weight            1480 non-null   float64
 3   days_before       1500 non-null   object
 4   day_of_week       1500 non-null   object
 5   time              1500 non-null   object
 6   category          1500 non-null   object
 7   attended          1500 non-null   int64
dtypes: float64(1), int64(3), object(4)
memory usage: 93.9+ KB

In [7]:
d.head()

,booking_id,months_as_member,weight,days_before,day_of_week,time,category,attended
0,1,17,79.56,8,Wed,PM,Strength,0
1,2,10,79.01,2,Mon,AM,HIIT,0
2,3,16,74.53,14,Sun,AM,Strength,0
3,4,5,86.12,10,Fri,AM,Cycling,0
4,5,15,69.29,8,Thu,AM,HIIT,0

# Preprocessing of Data

## Exploratory Data Analysis (EDA) & Feature Engineering

In [8]:
d1=d.copy()

In [9]:
d["category"].value_counts(dropna=False)

HIIT        667
Cycling     376
Strength    233
Yoga        135
Aqua         76
-            13
Name: category, dtype: int64

In [10]:
d1["category"]=d1["category"].replace("-",np.nan)

In [11]:
d1["category"].value_counts(dropna=False)

HIIT        667
Cycling     376
Strength    233
Yoga        135
Aqua         76
NaN          13
Name: category, dtype: int64

In [12]:
d["time"].value_counts(dropna=False)

AM    1141
PM     359
Name: time, dtype: int64

In [13]:
d["day_of_week"].value_counts(dropna=False)

Fri          279
Thu          241
Mon          218
Sun          213
Sat          202
Tue          195
Wed           81
Wednesday     35
Fri.          26
Monday        10
Name: day_of_week, dtype: int64

In [14]:
d1["day_of_week"]=d1["day_of_week"].replace({"Wednesday":"Wed","Fri.":"Fri","Monday":"Mon"})

In [15]:
d1["day_of_week"].value_counts(dropna=False)

Fri    305
Thu    241
Mon    228
Sun    213
Sat    202
Tue    195
Wed    116
Name: day_of_week, dtype: int64

In [16]:
d["months_as_member"].value_counts(dropna=False)

8      99
7      93
6      92
9      85
5      80
       ..
60      1
90      1
105     1
62      1
69      1
Name: months_as_member, Length: 72, dtype: int64

In [17]:
d["weight"].value_counts(dropna=False)

NaN      20
78.28     5
75.63     4
84.64     4
71.49     3
         ..
65.01     1
73.09     1
86.22     1
79.44     1
94.39     1
Name: weight, Length: 1242, dtype: int64

In [18]:
d["booking_id"].value_counts(dropna=False)

1       1
998     1
1007    1
1006    1
1005    1
       ..
498     1
497     1
496     1
495     1
1500    1
Name: booking_id, Length: 1500, dtype: int64

In [19]:
d1.drop(columns=["booking_id","weight"],inplace=True)

In [20]:
d["days_before"].value_counts(dropna=False)

10         293
2          199
8          194
12         178
14         172
4          154
6           70
7           38
3           31
5           30
11          26
13          25
15          24
9           24
1            9
10 days      6
14 days      3
12 days      3
6 days       3
4 days       3
16           3
17           3
20           1
2 days       1
5 days       1
7 days       1
8 days       1
1 days       1
3 days       1
13 days      1
29           1
Name: days_before, dtype: int64

In [21]:
d1["days_before"]=d["days_before"].str.split()

In [22]:
d1["days_before"]=d1["days_before"].str[0]

In [23]:
d1["days_before"]=d1["days_before"].astype(int)

In [24]:
d1["days_before"].value_counts(dropna=False)

10    299
2     200
8     195
12    181
14    175
4     157
6      73
7      39
3      32
5      31
13     26
11     26
9      24
15     24
1      10
16      3
17      3
20      1
29      1
Name: days_before, dtype: int64

In [25]:
d1.dropna(inplace=True)

In [26]:
d1.isnull().sum()

months_as_member    0
days_before         0
day_of_week         0
time                0
category            0
attended            0
dtype: int64

In [27]:
d1[["months_as_member","days_before"]].corr()

                  months_as_member  days_before
months_as_member          1.000000     0.000128
days_before               0.000128     1.000000

In [28]:
obj_data=d1[d1.dtypes[d1.dtypes=="object"].index]
num_data=d1[d1.dtypes[d1.dtypes!="object"].index]

In [29]:
def outcap(x):
    x=x.clip(upper=x.quantile(.99))
    return x

In [30]:
num_data=num_data.apply(outcap)

In [31]:
all_data=pd.concat([obj_data,num_data],axis=1)

In [32]:
d2=pd.get_dummies(all_data,columns=["day_of_week","time","category"],drop_first=True)

In [33]:
d2

,months_as_member,days_before,attended,day_of_week_Mon,day_of_week_Sat,day_of_week_Sun,day_of_week_Thu,day_of_week_Tue,day_of_week_Wed,time_PM,category_Cycling,category_HIIT,category_Strength,category_Yoga
0,17.0,8.0,0,0,0,0,0,0,1,1,0,0,1,0
1,10.0,2.0,0,1,0,0,0,0,0,0,0,1,0,0
2,16.0,14.0,0,0,0,1,0,0,0,0,0,0,1,0
3,5.0,10.0,0,0,0,0,0,0,0,0,1,0,0,0
4,15.0,8.0,0,0,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,21.0,10.0,0,0,0,0,0,0,0,0,0,1,0,0
1496,29.0,2.0,0,1,0,0,0,0,0,0,0,0,1,0
1497,9.0,4.0,0,0,0,0,0,1,0,0,0,1,0,0
1498,34.0,14.0,0,0,0,1,0,0,0,0,0,0,0,0
1499,20.0,8.0,1,0,0,0,1,0,0,0,1,0,0,0

## Model Development

In [34]:
d2.columns

Index(['months_as_member', 'days_before', 'attended', 'day_of_week_Mon',
       'day_of_week_Sat', 'day_of_week_Sun', 'day_of_week_Thu',
       'day_of_week_Tue', 'day_of_week_Wed', 'time_PM', 'category_Cycling',
       'category_HIIT', 'category_Strength', 'category_Yoga'],
      dtype='object')

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [36]:
y=d2["attended"]
x=d2.drop(columns=["attended"])

In [37]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.25,random_state=0)

In [38]:
lg=LogisticRegression()

In [39]:
lg.fit(x_train,y_train)

C:\Users\Sahil Kumar\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

## Model Evaluation

In [40]:
lg.coef_

array([[ 0.13413648, -0.13236474, -0.70551755,  0.39661937,  0.94159429,
         0.17986725, -0.5085293 , -0.80782311, -0.08744596, -0.42616309,
        -0.18414114, -0.27886814, -0.40085767]])

In [41]:
lg.intercept_

array([-1.6451906])

In [42]:
lg.score(x_train,y_train)

0.7847533632286996

In [43]:
lg.score(x_test,y_test)

0.760752688172043

In [44]:
pred_train=lg.predict(x_train)
pred_test=lg.predict(x_test)

In [45]:
from sklearn import metrics

In [46]:
print(metrics.classification_report(y_train,pred_train))

              precision    recall  f1-score   support

           0       0.80      0.93      0.86       783
           1       0.72      0.45      0.56       332

    accuracy                           0.78      1115
   macro avg       0.76      0.69      0.71      1115
weighted avg       0.78      0.78      0.77      1115

In [47]:
print(metrics.classification_report(y_test,pred_test))

              precision    recall  f1-score   support

           0       0.76      0.94      0.84       252
           1       0.76      0.38      0.50       120

    accuracy                           0.76       372
   macro avg       0.76      0.66      0.67       372
weighted avg       0.76      0.76      0.73       372

In [48]:
pd.DataFrame(lg.predict_proba(x_train))

             0         1
0     0.834941  0.165059
1     0.877626  0.122374
2     0.909251  0.090749
3     0.923606  0.076394
4     0.439641  0.560359
...        ...       ...
1110  0.779944  0.220056
1111  0.803995  0.196005
1112  0.897692  0.102308
1113  0.226231  0.773769
1114  0.781609  0.218391

[1115 rows x 2 columns]

In [49]:
pd.DataFrame(lg.predict_proba(x_test))

            0         1
0    0.901502  0.098498
1    0.936968  0.063032
2    0.930227  0.069773
3    0.507107  0.492893
4    0.905448  0.094552
..        ...       ...
367  0.477900  0.522100
368  0.516954  0.483046
369  0.017621  0.982379
370  0.777095  0.222905
371  0.174611  0.825389

[372 rows x 2 columns]